.new-task button {
  float: right;
  margin: 0 5px;
  display: block;
}
.new-task p {
  display: inline;
  cursor: pointer;
}
.new-task {
  background: rgb(243, 243, 243);
  padding: 20px;
  margin-bottom: 8px;
  position: relative;
}
.div-odd {
  background-color: rgb(255, 236, 236);
}
.div-last {
  background-color: rgb(255, 247, 204);
}
.new-task:hover {
  border-left: solid 5px rgb(212, 212, 212);
  padding-left: 15px;
}
.div-odd:hover {
  border-left: solid 5px rgb(252, 214, 214);
  padding-left: 15px;
}
.div-last:hover {
  border-left: solid 5px rgb(219, 204, 115);
  padding-left: 15px;
}
.todo-div {
  background: rgb(248, 248, 248);
}
.container {
  margin-bottom: 60px;
}
.container-fluid {
  padding: 10px;
  display: flex;
  justify-content: flex-end;
}
.row {
  margin: 0;
  padding: 0;
}
.email {
  display: block;
  margin: 0 auto;
  font-size: 12px;
}
.date-created {
  color: rgb(114, 114, 114);
  position: absolute;
  bottom: 2px;
  left: 10px;
  font-size: 0.8rem;
  cursor: pointer;
}
